*{
    text-decoration: none;
}
.navbar{
    padding: 0 10px 0 10px;
    background-color: black;
}
.bar{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
    display: inline-block;
    padding: 1rem;    
}
li a{
    color: white
}
li :hover{
    color:crimson;
}
.container{
    border: 3px solid;
    height: 10rem;
    margin-top: 100px;
}
.flex-container{
    display: flex;
    justify-content:space-between; 
     align-items: stretch; 
    /* flex-wrap: wrap; */
}
.item{
    height: 80px;
    width: 80px;
    background-color:rebeccapurple;
    border: 1px solid;
    border-radius: 10%;
    padding: 1rem;
    margin: 1rem;
}
.flex-item2{
flex-grow: 1;
}

.flex-item2{
    flex-shrink: 0;
}



