body{
                
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: 	#A9A9A9;
}
h1{
    font-size: 58px; 
    text-align: center;
    border-bottom: solid ;
    color: #4A235A;
}
.head{
    margin: 30px;
}
.intro{
    border: 5px solid blanchedalmond;
    width: 800px;
    border-style: inset;
    padding: 20px;
    margin-top: 25px;
}
.exp{
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 15%;
    font-family: sans-serif;
   background-color: bisque;
    float: left;
    margin-top: 100px;
    margin-bottom: 40px;;
    
}

.container{
    float: left;
    width: 300px;
margin: 0 80px 50px 120px;
}
.list{
   
    color: greenyellow;
    list-style-type:disc;
    border: 5px solid blanchedalmond;
    width: 300px;
    border-style: dotted;
    padding: 20px;
    margin-top: 25px;
}
.list li{
    padding-left: 30px;
    margin-bottom: 20px;
   
}


#hobby{
 font-size: 58px; 
 border-bottom: solid ;
 color: #4A235A;  
}
.goal{
    width: 500px;
    text-align: justify;
    margin-top: 50px;
}
footer {
   
    height: 60px;
    padding-left:105px;
    background: #333;
    color: #ffffff;
    border-top:10px solid goldenrod ;
   
}
a:hover{
    color: red;
}