*{
    text-decoration: none;
}
.navbar{
    padding: 0 10px 0 10px;
    background-color: black;
}
.bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li{
    list-style: none;
    display: inline-block;
    padding: 1rem;    
}
li a{
    color: white
}
li :hover{
    color:crimson;
}
.container{
    border: 3px solid;
    height: 10rem;
    margin-top: 100px;
}
.flex-container{
    display: flex;
    justify-content:center; 
     align-items: stretch; 
     color: #fff;
    /* flex-wrap: wrap; */
}
.item{
    height: 80px;
    width: 80px;
    background-color:rebeccapurple;
    border: 1px solid;
    border-radius: 10%;
    padding: 20px;
    margin: 20px;
}
.flex-item2{
flex-grow: 1;
}
.main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.flex-item2{
    flex-shrink: 0;
}
/* small screen */
@media all and (max-width:600px) {
    .flex-container{
        color: red;
        margin: 0.5rem;
    
    }
    .item{
        height: 50px;
        width: 50px;
    }
    .container{
        height: 9rem;
        
    }

    li a{
        font-size: 20px;
    }
}

/* medium screen */
@media all and (min-width:600px) and (max-width:1024px) {
    .flex-container{
        color: yellow;
        margin: 0.5rem;
        justify-content: flex-end;
    
    }
     .item{
        display: flex;
        height: 50px;
        width: 50px;
        align-content: center;
       justify-content: center; 
    }
    .flex-item1,
    .flex-item3{
        flex-grow:1;
        justify-content: center;
        }
        
    .container{
        height: 9rem;
        
    } 
    

}

@media all and (min-width:1025px){}





