body{
                
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: 	#A9A9A9;
}
h1{
    font-size: 58px; 
    text-align: center;
    border-bottom: solid ;
    color: #4A235A;
}

.container{
    float: left;
    width: 300px;
    margin: 0 80px 0 120px;
}
.list{
   
    color: greenyellow;
    list-style-type:disc
}
.list li{
    padding-left: 10px;
    margin-bottom: 20px;
}
#hobby{
 font-size: 58px; 
 border-bottom: solid ;
 color: #4A235A;  
}
section{
    width: 500px;
    text-align: justify;
}
footer {
    text-align: center;
    height: 50px;
    background: #333;
    color: #ffffff;
    border-top: solid ;
    border-color: greenyellow;
}
a:hover{
    color: red;
}